### Project 1 Data Analysis
* Understand the relationship between income and confirmed cases of corona. 

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [33]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np 
from scipy.stats import linregress

# File to Load 
file_to_load1 = "lapi1119.csv"
file_to_load2 = "us-counties.csv"

* Display the total number of players

In [34]:
# Read Purchasing File and store into Pandas data frame


income_data_df = pd.read_csv(file_to_load1)
county_data_df = pd.read_csv(file_to_load2)
combined_df= pd.merge(county_data_df,income_data_df, on = "county")
combined_df['date'].dtype

dtype('O')

In [35]:
## County count
county_count = len(combined_df["county"].unique())
county_count

 #get the range of data dates 
print(min(combined_df['date']))
print(max(combined_df['date']))

2020-01-21
2020-04-17

## Corona Cases Analysis (Total)

* Run basic calculations to obtain number of unique cases.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
#group data by cases confirmed on the most recent day
grouped_date_df = combined_df.groupby(["date"])
date_county_df = combined_df["date"].nunique()

grouped_date_df.head(20)

,date,county,state_x,fips,cases,deaths,state_y,2016,2017,2018,rank in State,% change 2017,% change 2018,rank 2018
0,2020-01-21,Snohomish,Washington,53061.0,1,0,Washington,"50,344","52,453","55,888",4,4.2,6.5,2
1,2020-01-22,Snohomish,Washington,53061.0,1,0,Washington,"50,344","52,453","55,888",4,4.2,6.5,2
2,2020-01-23,Snohomish,Washington,53061.0,1,0,Washington,"50,344","52,453","55,888",4,4.2,6.5,2
3,2020-01-24,Snohomish,Washington,53061.0,1,0,Washington,"50,344","52,453","55,888",4,4.2,6.5,2
4,2020-01-25,Snohomish,Washington,53061.0,1,0,Washington,"50,344","52,453","55,888",4,4.2,6.5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2975,2020-03-03,Bexar,Texas,48029.0,11,0,Texas,"42,294","43,878","46,058",74,3.7,5.0,117
2976,2020-03-04,Bexar,Texas,48029.0,11,0,Texas,"42,294","43,878","46,058",74,3.7,5.0,117
2977,2020-03-05,Bexar,Texas,48029.0,11,0,Texas,"42,294","43,878","46,058",74,3.7,5.0,117
2978,2020-03-06,Bexar,Texas,48029.0,11,0,Texas,"42,294","43,878","46,058",74,3.7,5.0,117
2979,2020-03-07,Bexar,Texas,48029.0,11,0,Texas,"42,294","43,878","46,058",74,3.7,5.0,117

## Cases Confirmed

* Understand the amount of cases by date and county

In [27]:
sort_county_df = combined_df.sort_values(by =['2018', 'date'])
 
print("Contents of a Sorted Dataframe based on multiple columns '2018 Income per Capita' & 'date' : ")
print(sort_county_df)

Contents of a Sorted Dataframe based on multiple columns '2018 Income per Capita' & 'date' :
              date     county       state     fips  cases  deaths    2016  \
252643  2020-03-17  Goochland    Virginia  51075.0      1       0  90,133
252644  2020-03-18  Goochland    Virginia  51075.0      1       0  90,133
252645  2020-03-19  Goochland    Virginia  51075.0      1       0  90,133
252646  2020-03-20  Goochland    Virginia  51075.0      1       0  90,133
252647  2020-03-21  Goochland    Virginia  51075.0      1       0  90,133
...            ...        ...         ...      ...    ...     ...     ...
161924  2020-04-16     Morris  New Jersey  34027.0   3701     216  90,853
161927  2020-04-16     Morris       Texas  48343.0      3       0  90,853
161930  2020-04-17     Morris      Kansas  20127.0      2       0  90,853
161933  2020-04-17     Morris  New Jersey  34027.0   3822     232  90,853
161936  2020-04-17     Morris       Texas  48343.0      4       0  90,853

          2017     2018 rank in State  % change 2017  % change 2018 rank 2018
252643  96,584  100,545             1            7.2            4.1        68
252644  96,584  100,545             1            7.2            4.1        68
252645  96,584  100,545             1            7.2            4.1        68
252646  96,584  100,545             1            7.2            4.1        68
252647  96,584  100,545             1            7.2            4.1        68
...        ...      ...           ...            ...            ...       ...
161924  93,555   98,842             2            3.0            5.7         2
161927  93,555   98,842             2            3.0            5.7         2
161930  93,555   98,842             2            3.0            5.7         2
161933  93,555   98,842             2            3.0            5.7         2
161936  93,555   98,842             2            3.0            5.7         2

[326053 rows x 13 columns]


## Take a look at the total cases by county for the most recent date


* Create a summary data frame to hold the data for the most recent confirmed cases of corona on 4/17/20

In [32]:
max_date_df = combined_df["date"]== (max(combined_df['date']))
max_date_df
recent_date = combined_df[max_date_df]
recent_date.head(20)

,date,county,state,fips,cases,deaths,2016,2017,2018,rank in State,% change 2017,% change 2018,rank 2018
87,2020-04-17,Snohomish,Washington,53061.0,2055,87,"50,344","52,453","55,888",4,4.2,6.5,2
394,2020-04-17,Cook,Georgia,13075.0,12,1,"29,733","31,086","32,524",119,4.6,4.6,38
395,2020-04-17,Cook,Georgia,13075.0,12,1,"56,961","59,046","62,205",4,3.7,5.4,48
396,2020-04-17,Cook,Georgia,13075.0,12,1,"50,705","52,629","55,319",16,3.8,5.1,35
397,2020-04-17,Cook,Illinois,17031.0,19391,760,"29,733","31,086","32,524",119,4.6,4.6,38
398,2020-04-17,Cook,Illinois,17031.0,19391,760,"56,961","59,046","62,205",4,3.7,5.4,48
399,2020-04-17,Cook,Illinois,17031.0,19391,760,"50,705","52,629","55,319",16,3.8,5.1,35
2656,2020-04-17,Orange,California,6059.0,1501,28,"63,086","65,709","69,268",10,4.2,5.4,19
2657,2020-04-17,Orange,California,6059.0,1501,28,"40,750","42,776","44,647",22,5.0,4.4,24
2658,2020-04-17,Orange,California,6059.0,1501,28,"34,191","36,862","38,124",80,7.8,3.4,79
2659,2020-04-17,Orange,California,6059.0,1501,28,"47,807","49,912","51,848",18,4.4,3.9,16
2660,2020-04-17,Orange,California,6059.0,1501,28,"60,044","63,460","67,385",1,5.7,6.2,2
2661,2020-04-17,Orange,California,6059.0,1501,28,"42,304","43,217","44,938",83,2.2,4.0,164
2662,2020-04-17,Orange,California,6059.0,1501,28,"44,107","45,331","47,170",10,2.8,4.1,6
2663,2020-04-17,Orange,California,6059.0,1501,28,"45,973","46,906","49,010",37,2.0,4.5,45
2664,2020-04-17,Orange,Florida,12095.0,1157,23,"63,086","65,709","69,268",10,4.2,5.4,19
2665,2020-04-17,Orange,Florida,12095.0,1157,23,"40,750","42,776","44,647",22,5.0,4.4,24
2666,2020-04-17,Orange,Florida,12095.0,1157,23,"34,191","36,862","38,124",80,7.8,3.4,79
2667,2020-04-17,Orange,Florida,12095.0,1157,23,"47,807","49,912","51,848",18,4.4,3.9,16
2668,2020-04-17,Orange,Florida,12095.0,1157,23,"60,044","63,460","67,385",1,5.7,6.2,2

## Check County Data

* Check to make sure county data aligns with state

## Scatter plots

* Scatter plot for all income v cases

## Regression Graphs

* Use scatter plot to add regression lines